In [2]:
import awswrangler as aws
import pandas as pd

In [3]:
## leyendo desde athena
sql = """SELECT "device_id", "mac_id",count(*) as "REGISTROS"
FROM "embebed-cloud"."axolote_embebed_cloud_iot_firehose_stream" 
GROUP BY "device_id","mac_id"
ORDER BY "REGISTROS" ASC;
"""

In [5]:
df = aws.athena.read_sql_query(sql,database = "embebed-cloud")

In [6]:
df

              device_id             mac_id  registros
0  Axolote_Axolote_Juan  0c:b8:15:d6:14:88       6195
1        Axolote_Rochio  30:c6:f7:00:04:9c       6830
2        Axolote_Ederik  0c:b8:15:d6:14:c4      15966
3        Axolote_Isabel  40:91:51:bf:c9:04      71459
4    Axolote_Ivan_ESP32  0c:b8:15:f7:2c:b8      93173
5         Axolote_Julio  0c:b8:15:f5:7a:c8     123306
6        Axolote_Javier  0c:b8:15:d7:c0:c4     136712
7       Axolote_Agustin  0c:b8:15:f5:85:b0     138017
8          Axolote_Aldo  ec:62:60:99:aa:30     183810
9       Axolote_Eduardo  40:91:51:bf:fd:f0     228122